
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="event-form" style="background-color:aliceblue">
    <div class="container" style="background-color:aliceblue">
        <br><br><h2>@ViewBag.Title</h2><br><br>
        <form class="form-horizontal" action="/action_page.php">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email" style="text-align:left">Enter your Email:</label><br><br><br><br><br>
                <label class="control-label col-sm-2" for="email" style="text-align:left">Email:</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email" style="background-color:gainsboro">
                </div>
            </div><br>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" style="background-color:rgba(4,9,30,0.9);color:white;margin-left:10%;margin-right:90%;display:block;width:150px;font-size:15px">Email Link</button>
                </div>
            </div><br>
        </form>
    </div><br><br><br><br>
</section>