
@{
    Layout = "~/Views/Shared/StudentLoginLayout.cshtml";
}


<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver1 m-b-110">
                <table data-vertable="ver1">
                    <thead>
                        <tr class="row100 head">
                            <th class="column100 column1" data-column="column1"></th>
                            <th class="column100 column2" data-column="column2">8:00 to 9:00 (am)</th>
                            <th class="column100 column3" data-column="column3">9:00 to 10:00 (am)</th>
                            <th class="column100 column4" data-column="column4">10:00 to 11:00 (am)</th>
                            <th class="column100 column5" data-column="column5">11:00 to 12:00 (am)</th>
                            <th class="column100 column6" data-column="column6">12:00 to 1:00 (pm)</th>
                            <th class="column100 column7" data-column="column7">1:00 to 2:00 (pm)</th>
                            <th class="column100 column8" data-column="column8">2:00 to 3:00 (pm)</th>
                            <th class="column100 column9" data-column="column9">3:00 to 4:00 (pm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">Monday</td>
                            <td class="column100 column2" data-column="column2">AI</td>
                            <td class="column100 column3" data-column="column3">SE</td>
                            <td class="column100 column4" data-column="column4">AOA</td>
                            <td class="column100 column5" data-column="column5">--</td>
                            <td class="column100 column6" data-column="column6">Break</td>
                            <td class="column100 column7" data-column="column7">--</td>
                            <td class="column100 column8" data-column="column8">PRV</td>
                            <td class="column100 column9" data-column="column9">--</td>
                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">Tuesday</td>
                            <td class="column100 column2" data-column="column2">AOA</td>
                            <td class="column100 column3" data-column="column3">AI</td>
                            <td class="column100 column4" data-column="column4">--</td>
                            <td class="column100 column5" data-column="column5">SE</td>
                            <td class="column100 column6" data-column="column6">Break</td>
                            <td class="column100 column7" data-column="column7">PRV</td>
                            <td class="column100 column8" data-column="column8">AI LAB</td>
                            <td class="column100 column9" data-column="column9">AI LAB</td>
                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">Wednesday</td>
                            <td class="column100 column2" data-column="column2">AOA</td>
                            <td class="column100 column3" data-column="column3">SE</td>
                            <td class="column100 column4" data-column="column4">AI</td>
                            <td class="column100 column5" data-column="column5">--</td>
                            <td class="column100 column6" data-column="column6">Break</td>
                            <td class="column100 column7" data-column="column7">CS</td>
                            <td class="column100 column8" data-column="column8">CS</td>
                            <td class="column100 column9" data-column="column9">--</td>
                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">Thursday</td>
                            <td class="column100 column2" data-column="column2">PRV</td>
                            <td class="column100 column3" data-column="column3">--</td>
                            <td class="column100 column4" data-column="column4">CS</td>
                            <td class="column100 column5" data-column="column5">SE</td>
                            <td class="column100 column6" data-column="column6">Break</td>
                            <td class="column100 column7" data-column="column7">SE LAB</td>
                            <td class="column100 column8" data-column="column8">SE LAB</td>
                            <td class="column100 column9" data-column="column9">--</td>
                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">Friday</td>
                            <td class="column100 column2" data-column="column2">--</td>
                            <td class="column100 column3" data-column="column3">--</td>
                            <td class="column100 column4" data-column="column4">--</td>
                            <td class="column100 column5" data-column="column5">--</td>
                            <td class="column100 column6" data-column="column6">Break</td>
                            <td class="column100 column7" data-column="column7">Break</td>
                            <td class="column100 column8" data-column="column8">--</td>
                            <td class="column100 column9" data-column="column9">--</td>
                        </tr>


                    </tbody>
                </table>
            </div>

            <div class="table100 ver1 m-b-50">
                <table data-vertable="ver1">
                    <thead>
                        <tr class="row100 head">

                            <th class="column100 column1" data-column="column1">Subject Abbreviation</th>
                            <th class="column100 column2" data-column="column2">Subject Name</th>
                            <th class="column100 column3" data-column="column3">Teacher</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">PRV</td>
                            <td class="column100 column2" data-column="column2">Probability and Random Variable</td>
                            <td class="column100 column3" data-column="column3">Dr Irfan Ullah Ch.</td>

                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">AOA</td>
                            <td class="column100 column2" data-column="column2">Analysis of Algorithm</td>
                            <td class="column100 column3" data-column="column3">Atif Waraich</td>

                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">SE</td>
                            <td class="column100 column2" data-column="column2">Software Engineering</td>
                            <td class="column100 column3" data-column="column3">Dr. Amjad Farooq</td>

                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">CS</td>
                            <td class="column100 column2" data-column="column2">Communication Skills</td>
                            <td class="column100 column3" data-column="column3">Mam Sadaf</td>

                        </tr>

                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">AI</td>
                            <td class="column100 column2" data-column="column2">Artificial Intelligence</td>
                            <td class="column100 column3" data-column="column3">Dr. Awais Hassan</td>

                        </tr>
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">AI LAB</td>
                            <td class="column100 column2" data-column="column2">Artificial Intelligence Lab</td>
                            <td class="column100 column3" data-column="column3">Dr. Awais Hassan</td>

                        </tr>
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">SE LAB</td>
                            <td class="column100 column2" data-column="column2">Software Engineering Lab</td>
                            <td class="column100 column3" data-column="column3">Sir Samyan Wahla</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

