
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="event-details-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 event-details-left">
                <div class="details-content">
                    <div class="section-top-border">
                        <h3 class="mb-30">About Computer Science and Engineering Department, UET Lahore</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <blockquote class="generic-blockquote">
                                    University of Engineering and Technology Lahore established a Computer Center. This center was equipped with a contemporary IBM 1130 third generation computer that batch processed submitted jobs. The computer was equipped with a disk and a monitor. The center was responsible for planning and teaching courses in Computer Science and Numerical Analysis, which formed an integral part of the curricula for all disciplines of B.Sc. Engineering degree in the university. The center also offered short term computer courses for other private and public sector organizations. In 1978, it started offering a Masters Degree program in Computer Science, thus becoming the first center in the country to offer Computer Science degree.
                                    The department holds an endowment chair given by His Majesty Sultan Qaboos Bin Said-Al-Said, Sultan of Oman
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

