
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row">
            <div class="single-popular-carusel col-lg-3 col-md-6">
                <div class="thumb-wrap relative">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="~/img/p1.jpg" alt="">
                    </div>
                </div>
                <div class="details">
                   <!-- Html.ActionLink("Dr. Shazia Arshad", "FacultyDetail", "Visitor")-->
                    <a href="http://localhost:11751/Visitor/FacultyDetail">
                        <h4>
                            Dr. Shazia Arshad
                        </h4>
                    </a>
                    <p>
                        Chairperson Of CSE Department.
                        Designation: Professor
                        Latest Qualification: Ph.D
                    </p>
                </div>
            </div>


        </div>
    </div>
</section>