@model IEnumerable<UET_CSE.Models.AddFaculty>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="single-popular-carusel col-lg-3 col-md-6">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="@Url.Content(item.ImagePath)" alt="">
                        </div>
                    </div>
                    <div class="details">
                        <h4>
                            @item.Name
                        </h4>
                        <p>
                            Designation = @item.Designation
                            <br />
                            Qualification = @item.Qualification
                        </p>
                    </div>
                </div>
            }



        </div>
    </div>
</section>