
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="course-details-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 left-contents">
                <div class="main-image">
                    <img class="img-fluid" src="~/img/m-img.jpg" alt="">
                </div>
                <div class="jq-tab-wrapper" id="horizontalTab">
                </div>
            </div>
            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Teacher Name</p>
                            <span class="or">Samyan Qayyum Wahla</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Designation</p>
                            <span>Professor</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Qualification </p>
                            <span>MS</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>