@{
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}

<section class="popular-course-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10"> <p id="Courses">We Ensure Your Best Future</h1></p>
                    <!--                        @*<p>There is a moment in the life of any aspiring.</p>*@ -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-popular-carusel">
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/BscComputerScience.jpg" alt="" style="width:263px;height:200px;">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                BSc. Computer Science
                            </h4>

                        </a>
                        <p>
                            A four years degree program leading towards a B.Sc. (Honours) Computer Science was introduced by the department in 1999 and another 4 years B.Sc. program in Computer Science and Engineering in 2001. For students enrolling from September 2003 onwards, B.Sc programs have been re-named and modified into four years B.Sc. Computer Science (CS).
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/program-comp-eng.jpg" alt="" style="width:263px;height:200px;">
                        </div>
                        <div class="meta d-flex justify-content-between">

                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                BSc. Computer Engineering
                            </h4>
                        </a>
                        <p>
                            A four years degree program leading towards a B.Sc. (Honours) Computer Science was introduced by the department in 1999 and another 4 years B.Sc. program in Computer Science and Engineering in 2001. For students enrolling from September 2003 onwards, B.Sc programs have been re-named and modified into four years B.Sc. Computer Science (CS).
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/p3.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--@*<p><span class="lnr lnr-users"></span> </p> @*355 <span class="lnr lnr-bubble"></span>35</p>
                                <h4>$150</h4>*@
                            -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                MSc. Computer Science
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">

                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/p4.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--                                @*<p><span class="lnr lnr-users"></span> @*355 <span class="lnr lnr-bubble"></span>35*@
                                                            @* <h4>$150</h4>*@
                                   -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                MSc. Computer Engineering
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/p1.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--                   @*<p><span class="lnr lnr-users"></span> @*355 <span class="lnr lnr-bubble"></span>35*@
                                   -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Phd. Computer Science
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/p3.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--@*<p><span class="lnr lnr-users"></span> @*55 <span class="lnr lnr-bubble"></span>35*@
                            -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Phd. Computer Engineering
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/p4.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--@*<p><span class="lnr lnr-users"></span> @*355 <span class="lnr lnr-bubble"></span>*@
                            @*<h4>$150</h4>*@
                            -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                BSCS
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start upcoming-event Area -->
<section class="upcoming-event-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">

                    <h1 class="mb-10"> <p id="Events"> Upcoming Events of UET CSE</h1></p>
                    <p>
                        Upcoming Events of the department of CSE, Uet Lahore <a href="Events.html" class="genric-btn primary small" style="background-color:rgba(4,9,30,0.9)">Events</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-upcoming-event-carusel">
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="~/img/download.jpg" style="width:263px;height:200px;">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th November, 2018</p>
                        <a href="EventsDetail.html">
                            <h4>
                                Convocation
                            </h4>
                        </a>
                        <p>
                            For the Students of CS and CE, we are arranging an event to certify the students with thier degrees and medals. This is the final event for the batch from university. After that event they will be graduated officially.
                        </p>
                    </div>
                </div>
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="~/img/e2.jpg" alt="">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th February, 2018</p>
                        <a href="EventsDetail.html">
                            <h4>
                                Orientation
                            </h4>
                        </a>
                        <p>
                            For the Students of first year. orientation is a way for students to meet other students, become familiar with campus services, and register for fall classes. We are instituted orientation for incoming students to ease the transition into University.
                        </p>
                    </div>
                </div>
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="~/img/333-degrees-awarded-at-greenwich-university-s-convocation-1514077932-3687.jpg" alt="" style="width:263px;height:200px;">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th February, 2018</p>
                        <a href="EventsDetail.html">
                            <h4>
                                Convocation Rehearsal
                            </h4>
                        </a>
                        <p>
                            For the Students of CS and CE, we are arranging an event to certify the students with thier degrees and medals. This is the final event for the batch from university. After that event they will be graduated officially.
                        </p>
                    </div>
                </div>
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="~/img/images (1).jpg" alt="" style="width:263px;height:200px;">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th February, 2018</p>
                        <a href="EventsDetail.html">
                            <h4>
                                Orientation
                            </h4>
                        </a>
                        <p>
                            For the Students of first year. orientation is a way for students to meet other students, become familiar with campus services, and register for fall classes. We are instituted orientation for incoming students to ease the transition into University.
                        </p>
                    </div>
                </div>

                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="~/img/images (1).jpg" alt="" style="width:263px;height:200px;">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <p>25th February, 2018</p>
                        <a href="EventsDetail.html">
                            <h4>
                                Orientation
                            </h4>
                        </a>
                        <p>
                            For the Students of first year. orientation is a way for students to meet other students, become familiar with campus services, and register for fall classes. We are instituted orientation for incoming students to ease the transition into University.
                        </p>
                    </div>
                </div>
</section>
<!-- End upcoming-event Area -->
<!-- Start Achievement Section-->
<section class="popular-course-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10"> <p id="Faculty">Faculty</p></h1>
                    <p>Faculty of CSE Department,UET Lahore <a href="Faculty.html" class="genric-btn primary small" style="background-color:rgba(4,9,30,0.9)">Faculty</a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-popular-carusel">
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/BscComputerScience.jpg" alt="" style="width:263px;height:200px;">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--                @*  <p><span class="lnr lnr-users"></span>  <span @*class="lnr lnr-bubble"></span></p>*@
                                   -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="FacultyDetail.html">
                            <h4>
                                Dr. Shazia Arshad
                            </h4>
                        </a>
                        <p>
                            Chairperson Of CSE Department.
                            Designation: Professor
                            Latest Qualification: Ph.D
                        </p>
                    </div>
                </div>

                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/BscComputerScience.jpg" alt="" style="width:263px;height:200px;">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--                                @*  <p><span class="lnr lnr-users"></span>  <span @*class="lnr lnr-bubble"></span></p>*@
                                  -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="FacultyDetail.html">
                            <h4>
                                Prof. Dr. Abdul Sattar Shakir
                            </h4>
                        </a>
                        <p>
                            Dean Of CSE Department.
                            Designation: Professor
                            Latest Qualification: Ph.D
                        </p>
                    </div>
                </div>

                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/BscComputerScience.jpg" alt="" style="width:263px;height:200px;">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--                                @*  <p><span class="lnr lnr-users"></span>  <span @*class="lnr lnr-bubble"></span></p>*@
                                   -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="FacultyDetail.html">
                            <h4>
                                Prof. Dr. Muhammad Shahbaz
                            </h4>
                        </a>
                        <p>
                            Designation: Professor
                            Latest Qualification: Ph.D
                        </p>
                    </div>
                </div>

                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/BscComputerScience.jpg" alt="" style="width:263px;height:200px;">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--                                @*  <p><span class="lnr lnr-users"></span>  <span @*class="lnr lnr-bubble"></span></p>*@
                                -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="FacultyDetail.html">
                            <h4>
                                Prof. Dr. Muhammad Shoaib
                            </h4>
                        </a>
                        <p>
                            Designation: Professor
                            Latest Qualification: Ph.D
                        </p>
                    </div>
                </div>

                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/img/BscComputerScience.jpg" alt="" style="width:263px;height:200px;">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <!--                                @*  <p><span class="lnr lnr-users"></span>  <span @*class="lnr lnr-bubble"></span></p>*@
                                  -->
                            <br>
                        </div>
                    </div>
                    <div class="details">
                        <a href="FacultyDetail.html">
                            <h4>
                                Dr. Irfan Ullah Ch.
                            </h4>
                        </a>
                        <p>
                            Designation: Professor
                            Latest Qualification: Ph.D
                        </p>
                    </div>
                </div>


            </div>
        </div>
</section>
<!-- End Faculty Section -->
<!-- Start Achievement Section-->
<section class="upcoming-event-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">

                    <h1 class="mb-10"> <p id="Achievements"> Achievements</h1></p>
                    <p>Achievements of CSE Department, UET Lahore     <a href="Achievement.html" class="genric-btn primary small" style="background-color:rgba(4,9,30,0.9)">Achievements</a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-upcoming-event-carusel">
                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="~/img/download.jpg" alt="" style="width:263px;height:200px;">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <a href="Achievement.html">
                            <h4>
                                Runner up of Pakistan's largest API based hackathon with multiple investment offers.
                            </h4>
                        </a>
                        <p>
                            Name: Hamza Nasir<br>
                            Registration Number: 2016-CS-155
                        </p>
                    </div>
                </div>

                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="~/img/download.jpg" alt="" style="width:263px;height:200px;">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <a href="Achievement.html">
                            <h4>
                                Runner up Plan 9.
                            </h4>
                        </a>
                        <p>
                            Name: Muhammad Hamza Nasir<br>
                            Registration Number: 2016-CS-115
                        </p>
                    </div>
                </div>

                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="~/img/download.jpg" alt="" style="width:263px;height:200px;">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <a href="Achievement.html">
                            <h4>
                                Gold Medalist of 14 Session.
                            </h4>
                        </a>
                        <p>
                            Name: Wania Zahid<br>
                            Registration Number: 2014-CS-15
                        </p>
                    </div>
                </div>

                <div class="single-carusel row align-items-center">
                    <div class="col-12 col-md-6 thumb">
                        <img class="img-fluid" src="~/img/download.jpg" alt="" style="width:263px;height:200px;">
                    </div>
                    <div class="detials col-12 col-md-6">
                        <a href="Achievement.html">
                            <h4>
                                Runner Up of Coding Competition
                            </h4>
                        </a>
                        <p>
                            Name: Abdullah<br>
                            Registration Number: 2018-CS-120
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>

