
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<section class="admin-details-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 event-details-left">
                <div class="dropdown">
                    <ul>
                        <label>
                            <li>
                                <!-- <button class="btn btn-primary" type="button" data-toggle="dropdown" style="background-color:grey;font-size:20px;width:250px">Student Registration
                                <span class="caret"></span></button></label>
                                <ul class="dropdown-menu">
                                   <li><a href="RegisterStudent.html" style="width:150px;font-size:15px">Register</a></li>
                                </ul> -->
                                <a href="http://localhost:11751/Account/Register" class="genric-btn primary small" style="background-color:grey;font-size:20px;width:250px">Student Registration</a>
                            </li>
                        </label>
                        <br>
                        <br>
                        
                            
                            <li class="menu-has-children"><a href="http://localhost:11751/Admin/AddFaculty" class="genric-btn primary small" style="background-color:grey;font-size:20px;width:250px">Faculty</a>
                                
                                <ul class="dropdown-menu">
                                    <li><a href="http://localhost:11751/Admin/AddFaculty" style="width:150px;font-size:15px">Add</a></li>
                                    <li><a href="http://localhost:11751/Admin/UpdateFaculty" style="width:150px;font-size:15px">Update</a></li>
                                </ul>
                            </li>

                        <br />
                        <br />

                        <li>
                            <a href="http://localhost:11751/Admin/ViewFaculty" class="genric-btn primary small" style="background-color:grey;font-size:20px;width:250px"> View Faculty </a>
                        </li>

                        <br />
                        <br />

                        <li>
                            <a href="http://localhost:11751/Admin/ViewAchievement" class="genric-btn primary small" style="background-color:grey;font-size:20px;width:250px"> View Achievement </a>
                        </li>

                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="dropdown">
                    
                       <ul> 
                        
                        <li class="menu-has-children"><a href="http://localhost:11751/Admin/AddEvent" class="genric-btn primary small" style="background-color:grey;font-size:20px;width:250px">Events</a>
                                
                       
                        <ul class="dropdown-menu">
                            <li><a href="http://localhost:11751/Admin/AddEvent" style="width:150px;font-size:15px">Add</a></li>
                            <li><a href="http://localhost:11751/Admin/UpdateEvent" style="width:150px;font-size:15px">Update</a></li>

                        </ul>
                        </li>
                        <br>
                        <br>
                        
                        <li class="menu-has-children">
                            <a href="http://localhost:11751/Admin/AddAchievement" class="genric-btn primary small" style="background-color:grey;font-size:20px;width:250px">Achievements</a>
                            <ul class="dropdown-menu">
                                <li><a href="http://localhost:11751/Admin/AddAchievement" style="width:150px;font-size:15px">Add</a></li>
                                <li><a href="http://localhost:11751/Admin/UpdateAchievement" style="width:150px;font-size:15px">Update</a></li>

                            </ul>
                        </li>
                        <br />
                           <br />
                           
                           
                           <li>
                               <a href="http://localhost:11751/Admin/ViewEvents" class="genric-btn primary small" style="background-color:grey;font-size:20px;width:250px"> View Events </a>
                           </li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="dropdown">
                    <ul>
                        
                            <li class="menu-has-children">
                                <a href="http://localhost:11751/Admin/AddDateSheet" class="genric-btn primary small" style="background-color:grey;font-size:20px;width:250px">Date Sheet</a>
                                
</label>
                        
                        </li>
                        <br>
                        <br>

                        <li>
                            <a href="http://localhost:11751/Admin/AddCourses" class="genric-btn primary small" style="background-color:grey;font-size:20px;width:250px"> Add Courses </a>
                        </li>
                        <br />
                        <br />

                        <li>
                            <a href="http://localhost:11751/Admin/ViewCourses" class="genric-btn primary small" style="background-color:grey;font-size:20px;width:250px"> View Courses </a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>